{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2 class="page-title">Mes compétences</h2>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div class="custom-container">
        <div class="container h-100">
            <div class="row h-100">
                <div class="left-info bg-light offset-md-4 col-md-2 offset-sm-3 col-sm-3 col-12">
                    <ul class="custom-list text-left">
                        <li>PHP</li>
                        <li>Javascript</li>
                        <li>CSS / SCSS</li>
                        <li><i class="fab fa-windows fa-2x"></i>Windows</li>
                        <li><i class="fab fa-linux fa-2x"></i>Linus Ubuntu</li>
                        <li>CSS / SCSS</li>
                    </ul>
                </div>
                <div class="right-infos bg-light col-md-2 col-sm-3 col-12">
                    <ul class="custom-list text-right">
                        <li>Symfony > 2</li>
                        <li>Doctrine ORM</li>
                        <li>Zend Framework 2</li>
                        <li>JQuery</li>
                        <li>Bootstrap</li>
                        <li>Angular</li>
                    </ul>
                </div>
                <div class="left-info bg-light offset-sm-1 col-sm-5 col-12">
                    <ul class="custom-list">
                        <li>DataTable</li>
                        <li>JQuery UI</li>
                    </ul>
                </div>
                <div class="right-infos bg-light col-sm-5 col-12">
                    <ul class="custom-list">
                        <li>MySQL</li>
                        <li>Git</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}