{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-header-p1">Contactez</div>
        <div class="page-header-p2">
            <span>Moi</span>
        </div>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div id="index-container">
        <div class="container h-100">
            <div class="row h-100">
                {% if not sent %}
                    <div class="col-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                {% else %}
                    <div class="col-12 text-center">
                        Votre message a bien été envoyé. Je tâcherai d'y répondre le plus rapidement possible.
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}