{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-header-p1">Mes</div>
        <div class="page-header-p2">
            <span>Compétences</span>
        </div>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div id="index-container">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12"></div>
            </div>
        </div>
    </div>
{% endblock %}