{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2 class="page-title">Mes expériences</h2>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div class="custom-container">
        <div class="container h-100">
            <div class="row h-100">
                <div class="main-timeline offset-1 col-10">
                    <div class="timeline">
                        <div class="timeline-content">
                            <span class="year">2018</span>
                            <div class="inner-content">
                                <h3 class="title">Starterre - Développeur Web</h3>
                                <p class="description">
                                    Découverte d'une société à plus grand échelle (plus de 115 collaborateurs) dans un domaine différent : l'automobile. Développement et maintient d'un backoffice pour nos clients, de sites web personnalisés pour nos clients.
                                    Développement et consommation d'une API REST, Bootstrap 2 et 3, Symfony 2 et 3, Angular, JQuery & JQuery Mobile. Versionning git (hébergés sur GitHub), déploiments automatisés en production, pré-production et serveur de test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <span class="year">2016</span>
                            <div class="inner-content">
                                <h3 class="title">Interactiv' Technologies - Développeur Web</h3>
                                <p class="description">
                                    Découverte du monde professionnel dans une société d'une quinzaine de collaborateurs. Suivi et support de client. Développement et maintient de logiciels SaaS permettant la création de documents interactifs.
                                    Consommation d'une API SOAP, Bootstrap 3, Zend Framework 2, Symfony 2 et 3, JQuery, Ratchet (template mobile), versionning git avec repositories hébergés, développement de spécifiques clients autour des logiciels, installation et maintient de serveur Windows.
                                    Poste de travail sous Windows, serveur Apache PHP5.6
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <span class="year">2015</span>
                        <div class="inner-content">
                            <h3 class="title">DUT Informatique - Valence</h3>
                            <p class="description">
                                Découverte du monde informatique de manière étendue : systèmes embarqués, mathématiques grâce aux ordinateurs, réseaux, bases de données, et web. Grâce à cette formation, j'ai pu choisir ma voie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}