{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-header-p1">Victor</div>
        <div class="page-header-p2">
            <span>Robin</span>
        </div>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div class="custom-container">
        <div class="container h-100">
            <div class="row h-100">
                <div class="left-info bg-light offset-sm-1 col-md-3 col-sm-4 col-xs-12">
                    <ul class="custom-list">
                       <li><i class="fas fa-birthday-cake fa-2x"></i><br><span id="myAge"></span></li>
                       <li><i class="fa fa-car fa-2x"></i><br><span>Véhiculé - Permis B</span></li>
                       <li><i class="fa fa-home fa-2x"></i><br><span>Lyon</span></li>
                       <li><i class="fas fa-tachometer-alt fa-2x"></i><br><span>En activité depuis 2016</span></li>
                    </ul>
                </div>
                <div class="right-infos bg-dark col-md-7 col-sm-6 col-xs-12">
                    <p>Diplomé d'un DUT Informatique, j'ai fait le choix de rapidement entrer dans la vie professionnelle. Préférant l'expérience acquises professionnellement que celle des bancs de l'écoles, j'ai profité des opportunitées qui s'offraient à moi. </p>
                    <p>En rentrant rapidement dans le dur du sujet et cela m'a permi de développer une forte autonomie et m'a donné l'envie d'en apprendre toujours d'avantage. Je fais parti de cette catégorie qui considère que jusqu'à un certain point, un bon développeur doit être faignant.</p>
                    <p>Développeur Fullstack, ayant principalement de l'expérience dans le logiciel SaaS, pour la première fois j'ai eu le courage de finir un site personnel pour me présenter à vous.</p>
                </div>
                <div class="line-infos bg-dark offset-sm-1 col-sm-10 col-12">
                    <h2 class="text-center">A propos de ce site</h2>
                    <p class="text-center">Ce site Web a été réalisé dans l'optique de faire une démonstration technique et celui-ci est <a href="https://github.com/Darcier/siteperso">open-source</a>. Voici une courte liste des technos et librairies utilisées :</p>                    <ul class="custom-list-inline">
                        <li>Nginx</li>
                        <li>PHP 7.1</li>
                        <li>Symfony 4</li>
                        <li>Bootstrap 4</li>
                        <li>Angular (formulaire)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}