{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-header-p1">victor</div>
        <div class="page-header-p2">
            <span>robin</span>
        </div>
        <div class="page-header-p3 anim-text-flow">
            développeur web symfony
        </div>
    </div>
    <div id="index-container" class="container-fluid">
        <br>
        <div class="container">

        </div>

    </div>
{% endblock %}