@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

/** animations **/
@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}
@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:auto;}
  80% {opacity:1;}
  100% {opacity:1;width:auto;}
}
@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:1;}
}
@-webkit-keyframes bodyAnimation {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@-moz-keyframes bodyAnimation {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
@keyframes bodyAnimation {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
.anim-text-flow,
.anim-text-flow-hover:hover {
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}
/** end animations **/

html{
  font-family: 'Roboto', sans-serif !important;
}
body {
  background: linear-gradient(270deg, #dadada, #ffffff, #e0e0e0);
  background-size: 600% 600%;
  -webkit-animation: bodyAnimation 30s ease infinite;
  -moz-animation: bodyAnimation 30s ease infinite;
  animation: bodyAnimation 30s ease infinite;
  hr {
    border-top: 30px solid #343a40;
    margin: 1px 0;
  }
  header {
    h2.page_title {
      font-size: 24px;
      font-weight: 300;
    }
    nav {
      max-height: 30px;
      padding: 0 100px !important;
    }
  }
  .page-header {
    text-align:center;
    color:#555;
    font-weight:300;
    font-size:48px;
    padding-top:8vh;
    min-height:30vh;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    .page-header-p1,
    .page-header-p2 {
      display:inline-block;
      overflow:hidden;
      white-space:nowrap;
    }
    .page-header-p1 {
      animation: showup 7s normal forwards ease-in-out;
    }
    .page-header-p2 {
      width:0px;
      text-align: left;
      margin-left: -7px;
      animation: reveal 7s normal forwards ease-in-out;
      span {
        margin-left:-125px;
        animation: slidein 7s normal forwards ease-in-out;
      }
    }
    .page-header-p3 {
      font-size: 36px;
      margin-top: -24px;
      animation: showup 21s normal forwards ease-in-out;
    }
  }
  #index-container {
    color: #fff;
    font-weight: 600;
    position: relative;
    .container {
      height:100%;
      margin: 0;
      max-width: none;
    }
    #left-infos {
      color: #343a40;
      height: 100%;
      ul {
        padding-left: 0;
        text-align: center;
        list-style: none;
        li {
          margin-top: 15px;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
    #right-infos,
    #third-infos {
      background-color: #343a40;
      padding: 15px;
      text-align: justify;
      p {
        line-height: 1.25em;
      }
    }
    .fake-info {
      background-color: #343a40;
    }
    @media (max-width: 576px) {
      .fake-info {
        display: none;
      }
      #right-infos,
      #third-infos {
        padding: 15px 45px;
      }
    }
    #third-infos {
      margin-top: 1px;
      ul {
        padding-left: 0;
        text-align: center;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 15px;
        }
        li:not(:last-child):after{
          margin-left: 15px;
          content: "|";
        }
        svg {
          margin-right: 5px;
        }
      }
    }
  }
  footer {
    background-color: #343a40;
    height: 30px;
    color: #fff;
    font-weight: 300;
    margin-top:1px;
    .container {
      line-height: 30px;
      text-align: center;
    }
    a {
      color: #fff;
      font-size: 24px;
      margin: 5px;
    }
    a:hover {
      color: #ddd;
    }
  }
}