<footer>
    <div class="container">
        <a href="http://www.linkedin.com/in/victor-robin-4a07bb12a" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="mailto:robin.victor95@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
</footer>